/*
Error: Undefined variable: "$bd-font-family".
        on line 4 of path.scss

1: // Font path
2: // --------------------------
3: @font-face {
4:   font-family: '#{$bd-font-family}';
5:   src: url('#{$bd-font-path}/#{$bd-font-file}.eot?v=#{$bd-version}');
6:   src: url('#{$bd-font-path}/#{$bd-font-file}.eot?#iefix&v=#{$bd-version}') format('embedded-opentype'),
7:   url('#{$bd-font-path}/#{$bd-font-file}.woff2?v=#{$bd-version}') format('woff2'),
8:   url('#{$bd-font-path}/#{$bd-font-file}.woff?v=#{$bd-version}') format('woff'),
9:   url('#{$bd-font-path}/#{$bd-font-file}.ttf?v=#{$bd-version}') format('truetype'),

Backtrace:
path.scss:4
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/string_interpolation.rb:93:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:397:in `visit_prop'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:504:in `block (2 levels) in visit_directive'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:504:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:504:in `block in visit_directive'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:503:in `visit_directive'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$bd-font-family\".\A         on line 4 of path.scss\A \A 1: // Font path\A 2: // --------------------------\A 3: @font-face {\A 4:   font-family: '#{$bd-font-family}';\A 5:   src: url('#{$bd-font-path}/#{$bd-font-file}.eot?v=#{$bd-version}');\A 6:   src: url('#{$bd-font-path}/#{$bd-font-file}.eot?#iefix&v=#{$bd-version}') format('embedded-opentype'),\A 7:   url('#{$bd-font-path}/#{$bd-font-file}.woff2?v=#{$bd-version}') format('woff2'),\A 8:   url('#{$bd-font-path}/#{$bd-font-file}.woff?v=#{$bd-version}') format('woff'),\A 9:   url('#{$bd-font-path}/#{$bd-font-file}.ttf?v=#{$bd-version}') format('truetype'),"; }
