$menubar_left_active: $blue;

%common {
    top: 65px;
    bottom: 0;
    position: fixed;
    width: 90px;
    border-right: 1px solid hsla(0, 0%, 64%, 0.2);
    padding-top: 20px;
    z-index: 2;
}

body {
    width: 100%;
    height: 100%;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    position: static;
}

.navbar-top > nav {
    min-height: 60px;
}

.navbar-left {
    @extend %common;

    height: auto;
    left: 0;
    background-color: white;

    .menubar {
        padding: 0;
        margin: 0;
        list-style: none;

        li.menu-item {
            padding: 10px 5px;
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;

            &.active {
                a {
                    color: $menubar_left_active;
                }
            }

            a {
                color: #a2a2a2;
                text-decoration: none;

                span {
                    display: block;
                    margin: auto;
                }
            }
        }
    }
}

.content-container {
    padding-left: 90px;
    position: absolute;
    margin-top: 60px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: calc(100% - 60px);
    width: 100%;

    $fixedWidth: 280px;

    .aside-navbar {
        $common: 10px;
        @extend %common;
        width: $fixedWidth;
        padding-top: $common;
        padding-bottom: $common;
        z-index: 4;
        background-color: #f8f9fa;
        .submenubar {
            padding: 0;
            margin: 0;
            list-style: none;
            overflow-y: auto;
            height: 90%;
            li {
                &.active a {
                    background: #fff;
                    border-top: 1px solid hsla(0, 0%, 64%, 0.2);
                    border-bottom: 1px solid hsla(0, 0%, 64%, 0.2);

                    .icon {
                        $commonFigs: $common + 8px;
                        float: right;
                        width: $commonFigs;
                        height: $commonFigs;

                        .lnr {
                            vertical-align: -0.2em;
                        }
                    }
                }
                a {
                    padding: ($common + 5px);
                    display: block;
                    color: #000311;
                    text-decoration: none;

                    span {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .content-wrapper {
        padding: 25px 25px 25px 15px;
        margin-left: $fixedWidth;
        margin-top: 1px;
        background-color: #fff;
    }
    .content {
        margin-top: 2px;
        .page-header {
            display: inline-block;
            width: 100%;
            padding: 15px 10px 15px 0;
            position: -webkit-sticky;
            position: sticky;
            top: 50px;
            z-index: 3;
            background-color: #fff;
            .page-title {
                float: left;

                h1 {
                    margin-bottom: 0;
                    vertical-align: middle;
                    display: inline-block;
                    margin-top: 0;
                    line-height: normal;
                }
            }
            .page-actions {
                float: right;
                * {
                    display: inline-block;
                }
            }
        }
        &.full-page {
            padding: 25px;
        }
    }
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: 0.2em;
}

.same-icon-size {
    $sameSize: 40px;
    width: $sameSize;
    height: $sameSize;
    font-size: $sameSize;
}

.user-details {
    display: inline-block;
    vertical-align: middle;
    .name {
        display: block;
        color: #000311;
        text-align: left;
    }
    .role {
        font-size: 14px;
        color: #8e8e8e;
        display: block;
        text-align: left;
    }
}

.userdropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.6em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
}

.specialUserDropdwo {
    min-width: 15rem;
}
