.overall-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: table !important;
    > .row {
        vertical-align: middle;

        > .column {
            margin: auto;
            width: 365px;
        }
    }
}

.auth-containers {
    h1 {
        font-size: 24px;
    }
    background-color: #fff;
}
