/*
Error: Undefined variable: "$icon-font-path".
        on line 13 of glyphicons.scss

8: // <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>
9: 
10: // Import the fonts
11: @font-face {
12:   font-family: 'Glyphicons Halflings';
13:   src: url('#{$icon-font-path}#{$icon-font-name}.eot');
14:   src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),
15:        url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'),
16:        url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),
17:        url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),
18:        url('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');

Backtrace:
glyphicons.scss:13
/usr/lib/ruby/vendor_ruby/sass/script/tree/variable.rb:49:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/string_interpolation.rb:93:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:173:in `perform_arg'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:124:in `block in _perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:124:in `each'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:124:in `each_with_index'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:124:in `each'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:124:in `map'
/usr/lib/ruby/vendor_ruby/sass/script/tree/funcall.rb:124:in `_perform'
/usr/lib/ruby/vendor_ruby/sass/script/tree/node.rb:58:in `perform'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:397:in `visit_prop'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:504:in `block (2 levels) in visit_directive'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:504:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:504:in `block in visit_directive'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:503:in `visit_directive'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:387:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$icon-font-path\".\A         on line 13 of glyphicons.scss\A \A 8: // <a href=\"#\"><span class=\"glyphicon glyphicon-star\"></span> Star</a>\A 9: \A 10: // Import the fonts\A 11: @font-face {\A 12:   font-family: 'Glyphicons Halflings';\A 13:   src: url('#{$icon-font-path}#{$icon-font-name}.eot');\A 14:   src: url('#{$icon-font-path}#{$icon-font-name}.eot?#iefix') format('embedded-opentype'),\A 15:        url('#{$icon-font-path}#{$icon-font-name}.woff2') format('woff2'),\A 16:        url('#{$icon-font-path}#{$icon-font-name}.woff') format('woff'),\A 17:        url('#{$icon-font-path}#{$icon-font-name}.ttf') format('truetype'),\A 18:        url('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}') format('svg');"; }
